@media screen and (max-width: 768px) {
    section.homepage p {
        max-width: 400px;
    }

    .left-hero {
        width: 68%;
    }

    .right-hero {
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }   
}

@media (min-width: 1500px) {

    .left-hero {
        width: 68%;
    }
    .right-hero{
        width: 1100px;
        right: 55px;
    }

      #color-palette {
        margin: 137px 109px;
    }

    .color-swatch {
        min-height: 246px;
    }

    .laptop-screen {
        margin-left: 109px;
        margin-top: -44px;
        min-height: 223px;
    }

    .keyboard {
        margin-left: 107px;
    }

   
    .monitor {
        max-width: 678px;
    }

    .stand {
        margin-left: -132px;
    }

    .stand-bottom {
        margin-top: 34px;
        margin-left: -105px;
    }

    .inner-image{
        min-height: 633px;
        min-width: 657px;
        margin-left: 13px;
    }
    .plant {
        top: -369px !important;
    }

    footer {
        max-width: 2338px;
    }
}